*{
    margin: 0;
    padding: 0;
}
.headershape{
    width: 100%;
    height:200px;
    background-color:#17072b ;
}
h1{
    color: white;
    font-size: 50px;
    text-align: center;
    font-family:'tahoma';
    font-weight: 700;
    transform: translateY(-150px);
    text-decoration: underline darkviolet;
    text-decoration-thickness: 3px;
    text-underline-offset: 0.2em;
}
@font-face {
    font-family: 'tahoma';
    src: url('tahoma.ttf'); 
}
.title{
    transform: translateY(-120px);
    display: flex;
    flex-direction:row;
    justify-content: center;
}
.abovetext{
    margin-right: 45px;
    font-family: 'tahoma';
    font-weight: 400;
    font-size: 30px;
    color: white;
}
@font-face{
    font-family: "Arial";
    src: url(ArialTh.ttf);
}
h2{
    font-size: 35px;
    font-family: "Arial";
    font-weight: 400;
    transform: translateX(40px) translateY(-70px);
    text-decoration: underline;
    text-underline-offset: 0.2em;
}
.para{
    font-size: 22.2px;
    font-family:"Arial";
    font-weight: 400;
    transform: translateX(40px)translateY(-40px);
}
.navimage{
    transform: translateX(40px)translateY(-20px);
    width: 865px;
    height: 350px;
}
.asideshape{
    background-color: #172d67;
    transform:translateX(960px)translateY(-580px);
    width: 560px;
    height: 556px;

}
.lineup{
    transform:translateX(990px)translateY(-1105px);
    font-size: 35px;
    font-family: "Arial";
    font-weight: 400;
    color: white;
    text-decoration: underline white;
    text-underline-offset: 0.2em;
}
.lineupp{
    transform:translateX(990px)translateY(-1075px);
    font-size: 22px;
    font-family: "Arial";
    font-weight: 400;
    color: white;
}
.lineuppara{
    margin-bottom: 30px;
}
.asideimg{
    width: 200px;
    height: 200px;
    margin-right: 5px;
    transform: translateY(-1030px)translateX(990px);
}
.footershape{
    width: 102%;
    height: 40px;
    background-color:#8c15e9 ;
    padding-bottom: 0;
    transform: translateY(-975px)translateX(-10px);
    
}
.footerp{
    font-size: 22px;
    font-family: "Arial";
    text-align: center;
    transform: translateY(-1010px);
    color: white;
   
}